/project/MarbleGP/.vs/MarbleGP/v16/.suo
/project/MarbleGP/.vs/MarbleGP/v16/Browse.VC.db
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/124abcdda88554a0/CGLOBAL.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/1c1f3ca1bf2b40d3/CSKYBOXFIX.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/1d121a117c6bc520/CMAINCLASS.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/24cf94789bd33a03/CLUACAMERAOBJECT.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/2681cdddb92da4ca/CMAINCLASS.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/340a3c509fd722c6/CLUATYPEHELPERS.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/45f6560e58048d6f/CMESSAGEHELPERS.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/4a0992319084cf35/CLUASTATE.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/61edd2d857a919af/CPLATFORM.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/67bfdcc1e26d5c7c/CLUASCENEOBJECT.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/71f632484b5e7794/MARBLEGP.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/7d3c916ef9a0e8d9/CMESSAGEHELPERS.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/8160fa084544590a/CLUASINGLETONDIALOG.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/9dc763a44125275e/CLUATYPEHELPERS.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/acb9fb0fc3491b6c/CGLOBAL.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/bb4f2c262313bb95/CLUASINGLETON_DIALOG.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/ca2f413bd7650e51/CLUASTATE.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/e22bb763bf52a29d/CLUASCRIPT_DIALOG.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/e79720bbca6d1e98/LUA_BINDING.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/f9bbacce0d6a6284/CPLATFORMWINDOWS.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/fb924f3b82a53346/CLUASCENEOBJECT.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/fdb483106cf15a0a/MARBLEGP.ipch
/project/MarbleGP/Debug/MarbleGP.exe
/project/MarbleGP/Debug/MarbleGP.exe.recipe
/project/MarbleGP/Debug/MarbleGP.ilk
/project/MarbleGP/Debug/MarbleGP.log
/project/MarbleGP/Debug/MarbleGP.obj
/project/MarbleGP/Debug/MarbleGP.pdb
/project/MarbleGP/Debug/MarbleGP.tlog/CL.command.1.tlog
/project/MarbleGP/Debug/MarbleGP.tlog/CL.read.1.tlog
/project/MarbleGP/Debug/MarbleGP.tlog/CL.write.1.tlog
/project/MarbleGP/Debug/MarbleGP.tlog/MarbleGP.lastbuildstate
/project/MarbleGP/Debug/MarbleGP.tlog/link.command.1.tlog
/project/MarbleGP/Debug/MarbleGP.tlog/link.read.1.tlog
/project/MarbleGP/Debug/MarbleGP.tlog/link.write.1.tlog
/project/MarbleGP/Debug/MarbleGP.vcxproj.FileListAbsolute.txt
/project/MarbleGP/Debug/vc142.idb
/project/MarbleGP/Debug/vc142.pdb
/project/MarbleGP/Debug/vcpkg.applocal.log
/project/MarbleGP/vcpkg
/project/MarbleGP/x64
/project/MarbleGP_Raspberry/obj
/project/MarbleGP_Raspberry/bin
/project/MarbleGP/.vs
/project/MarbleGP/ARM
/project/MarbleGP/Debug
/project/readme
/project/_source/include/_generated
/project/_source/source/_generated
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/.suo
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/Browse.VC.db
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/ipch/AutoPCH/201e725048052c9/CPLATFORMLINUX.ipch
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/ipch/AutoPCH/3897a9ab1e0564c5/CLUASTATE.ipch
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/ipch/AutoPCH/4b59ee57ab6006be/MARBLEGP.ipch
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/ipch/AutoPCH/8d6e011e36cc7e69/CLUASCRIPT_DIALOG.ipch
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/ipch/AutoPCH/8e8b22d11b7e7ea2/CMAINCLASS.ipch
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/ipch/AutoPCH/95f1dc2d9f6e4367/CLUASTATE.ipch
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/ipch/AutoPCH/96948a0e58edaed2/CGLOBAL.ipch
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/ipch/AutoPCH/be2bb996f17c2f1c/CMAINCLASS.ipch
/project/MarbleGP_Plugin/Debug/CGui3dSceneNodes.obj
/project/MarbleGP_Plugin/Debug/CMarbleGPSceneNodeFactory.obj
/project/MarbleGP_Plugin/Debug/CMarbleGPSceneNodes.obj
/project/MarbleGP_Plugin/Debug/MarbleGP_Plugin.Build.CppClean.log
/project/MarbleGP_Plugin/Debug/MarbleGP_Plugin.dll.recipe
/project/MarbleGP_Plugin/Debug/MarbleGP_Plugin.log
/project/MarbleGP_Plugin/Debug/MarbleGP_Plugin.pch
/project/MarbleGP_Plugin/Debug/MarbleGP_Plugin.tlog/CL.command.1.tlog
/project/MarbleGP_Plugin/Debug/MarbleGP_Plugin.tlog/CL.read.1.tlog
/project/MarbleGP_Plugin/Debug/MarbleGP_Plugin.tlog/CL.write.1.tlog
/project/MarbleGP_Plugin/Debug/MarbleGP_Plugin.tlog/MarbleGP_Plugin.lastbuildstate
/project/MarbleGP_Plugin/Debug/MarbleGP_Plugin.tlog/MarbleGP_Plugin.write.1u.tlog
/project/MarbleGP_Plugin/Debug/MarbleGP_Plugin.tlog/link.command.1.tlog
/project/MarbleGP_Plugin/Debug/MarbleGP_Plugin.tlog/link.read.1.tlog
/project/MarbleGP_Plugin/Debug/MarbleGP_Plugin.tlog/link.write.1.tlog
/project/MarbleGP_Plugin/Debug/MarbleGP_Plugin.vcxproj.FileListAbsolute.txt
/project/MarbleGP_Plugin/Debug/dllmain.obj
/project/MarbleGP_Plugin/Debug/pch.obj
/project/MarbleGP_Plugin/Debug/vc142.idb
/project/MarbleGP_Plugin/Debug/vc142.pdb
/project/MarbleGP_Plugin/Debug/vcpkg.applocal.log
/project/MarbleGP_Plugin/x64/Debug/MarbleGP_Plugin.dll.recipe
/project/MarbleGP_Plugin/x64/Debug/MarbleGP_Plugin.log
/project/MarbleGP_Plugin/x64/Debug/MarbleGP_Plugin.pch
/project/MarbleGP_Plugin/x64/Debug/MarbleGP_Plugin.tlog/CL.command.1.tlog
/project/MarbleGP_Plugin/x64/Debug/MarbleGP_Plugin.tlog/CL.read.1.tlog
/project/MarbleGP_Plugin/x64/Debug/MarbleGP_Plugin.tlog/CL.write.1.tlog
/project/MarbleGP_Plugin/x64/Debug/MarbleGP_Plugin.tlog/MarbleGP_Plugin.lastbuildstate
/project/MarbleGP_Plugin/x64/Debug/MarbleGP_Plugin.tlog/link.command.1.tlog
/project/MarbleGP_Plugin/x64/Debug/MarbleGP_Plugin.tlog/link.read.1.tlog
/project/MarbleGP_Plugin/x64/Debug/MarbleGP_Plugin.tlog/link.write.1.tlog
/project/MarbleGP_Plugin/x64/Debug/dllmain.obj
/project/MarbleGP_Plugin/x64/Debug/pch.obj
/project/MarbleGP_Plugin/x64/Debug/vc142.idb
/project/MarbleGP_Plugin/x64/Debug/vc142.pdb
/project/MarbleGP_Plugin/x64/Debug/vcpkg.applocal.log
/project/MarbleGP/Release/CMessageHelpers.obj
/project/MarbleGP/Release/MarbleGP.log
/project/MarbleGP/Release/MarbleGP.tlog/CL.11204.write.1.tlog
/project/MarbleGP/Release/MarbleGP.tlog/CL.command.1.tlog
/project/MarbleGP/Release/MarbleGP.tlog/CL.read.1.tlog
/project/MarbleGP/Release/MarbleGP.tlog/MarbleGP.lastbuildstate
/project/MarbleGP/Release/MarbleGP.tlog/unsuccessfulbuild
/project/MarbleGP/Release/vc142.pdb
/project/MarbleGP_Plugin/x64
/project/MarbleGP_Plugin/.vs
/project/MarbleGP_Plugin/Debug
/*.dll
/project/libs/Irrlicht-1.9/lib/Win64-Debug/Irrlicht.lib
/project/libs/Irrlicht-1.9/lib/Win64-Release/Irrlicht.lib
/project/libs/irrlicht/lib/debug/Irrlicht.pdb
/project/libs/irrlicht/lib/debug/irrlicht.lib
/project/libs/irrlicht/lib/release/Irrlicht.lib
/project/libs/irrlicht/lib/release/Irrlicht.pdb
/data/levels
/project/LuaTest/x64
