/project/MarbleGP/.vs/MarbleGP/v16/.suo
/project/MarbleGP/.vs/MarbleGP/v16/Browse.VC.db
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/124abcdda88554a0/CGLOBAL.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/1c1f3ca1bf2b40d3/CSKYBOXFIX.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/1d121a117c6bc520/CMAINCLASS.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/24cf94789bd33a03/CLUACAMERAOBJECT.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/2681cdddb92da4ca/CMAINCLASS.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/340a3c509fd722c6/CLUATYPEHELPERS.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/45f6560e58048d6f/CMESSAGEHELPERS.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/4a0992319084cf35/CLUASTATE.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/61edd2d857a919af/CPLATFORM.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/67bfdcc1e26d5c7c/CLUASCENEOBJECT.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/71f632484b5e7794/MARBLEGP.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/7d3c916ef9a0e8d9/CMESSAGEHELPERS.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/8160fa084544590a/CLUASINGLETONDIALOG.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/9dc763a44125275e/CLUATYPEHELPERS.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/acb9fb0fc3491b6c/CGLOBAL.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/bb4f2c262313bb95/CLUASINGLETON_DIALOG.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/ca2f413bd7650e51/CLUASTATE.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/e22bb763bf52a29d/CLUASCRIPT_DIALOG.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/e79720bbca6d1e98/LUA_BINDING.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/f9bbacce0d6a6284/CPLATFORMWINDOWS.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/fb924f3b82a53346/CLUASCENEOBJECT.ipch
/project/MarbleGP/.vs/MarbleGP/v16/ipch/AutoPCH/fdb483106cf15a0a/MARBLEGP.ipch
/project/MarbleGP/Debug/MarbleGP.exe
/project/MarbleGP/Debug/MarbleGP.exe.recipe
/project/MarbleGP/Debug/MarbleGP.ilk
/project/MarbleGP/Debug/MarbleGP.log
/project/MarbleGP/Debug/MarbleGP.obj
/project/MarbleGP/Debug/MarbleGP.pdb
/project/MarbleGP/Debug/MarbleGP.tlog/CL.command.1.tlog
/project/MarbleGP/Debug/MarbleGP.tlog/CL.read.1.tlog
/project/MarbleGP/Debug/MarbleGP.tlog/CL.write.1.tlog
/project/MarbleGP/Debug/MarbleGP.tlog/MarbleGP.lastbuildstate
/project/MarbleGP/Debug/MarbleGP.tlog/link.command.1.tlog
/project/MarbleGP/Debug/MarbleGP.tlog/link.read.1.tlog
/project/MarbleGP/Debug/MarbleGP.tlog/link.write.1.tlog
/project/MarbleGP/Debug/MarbleGP.vcxproj.FileListAbsolute.txt
/project/MarbleGP/Debug/vc142.idb
/project/MarbleGP/Debug/vc142.pdb
/project/MarbleGP/Debug/vcpkg.applocal.log
/project/MarbleGP/vcpkg
/project/MarbleGP/x64
/project/MarbleGP_Raspberry/obj
/project/MarbleGP_Raspberry/bin
/project/MarbleGP/.vs
/project/MarbleGP/ARM
/project/MarbleGP/Debug
/project/readme
/project/_source/include/_generated
/project/_source/source/_generated
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/.suo
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/Browse.VC.db
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/ipch/AutoPCH/201e725048052c9/CPLATFORMLINUX.ipch
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/ipch/AutoPCH/3897a9ab1e0564c5/CLUASTATE.ipch
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/ipch/AutoPCH/4b59ee57ab6006be/MARBLEGP.ipch
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/ipch/AutoPCH/8d6e011e36cc7e69/CLUASCRIPT_DIALOG.ipch
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/ipch/AutoPCH/8e8b22d11b7e7ea2/CMAINCLASS.ipch
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/ipch/AutoPCH/95f1dc2d9f6e4367/CLUASTATE.ipch
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/ipch/AutoPCH/96948a0e58edaed2/CGLOBAL.ipch
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/ipch/AutoPCH/be2bb996f17c2f1c/CMAINCLASS.ipch
/project/MarbleGP_Plugin/Debug/CGui3dSceneNodes.obj
/project/MarbleGP_Plugin/Debug/CMarbleGPSceneNodeFactory.obj
/project/MarbleGP_Plugin/Debug/CMarbleGPSceneNodes.obj
/project/MarbleGP_Plugin/Debug/MarbleGP_Plugin.Build.CppClean.log
/project/MarbleGP_Plugin/Debug/MarbleGP_Plugin.dll.recipe
/project/MarbleGP_Plugin/Debug/MarbleGP_Plugin.log
/project/MarbleGP_Plugin/Debug/MarbleGP_Plugin.pch
/project/MarbleGP_Plugin/Debug/MarbleGP_Plugin.tlog/CL.command.1.tlog
/project/MarbleGP_Plugin/Debug/MarbleGP_Plugin.tlog/CL.read.1.tlog
/project/MarbleGP_Plugin/Debug/MarbleGP_Plugin.tlog/CL.write.1.tlog
/project/MarbleGP_Plugin/Debug/MarbleGP_Plugin.tlog/MarbleGP_Plugin.lastbuildstate
/project/MarbleGP_Plugin/Debug/MarbleGP_Plugin.tlog/MarbleGP_Plugin.write.1u.tlog
/project/MarbleGP_Plugin/Debug/MarbleGP_Plugin.tlog/link.command.1.tlog
/project/MarbleGP_Plugin/Debug/MarbleGP_Plugin.tlog/link.read.1.tlog
/project/MarbleGP_Plugin/Debug/MarbleGP_Plugin.tlog/link.write.1.tlog
/project/MarbleGP_Plugin/Debug/MarbleGP_Plugin.vcxproj.FileListAbsolute.txt
/project/MarbleGP_Plugin/Debug/dllmain.obj
/project/MarbleGP_Plugin/Debug/pch.obj
/project/MarbleGP_Plugin/Debug/vc142.idb
/project/MarbleGP_Plugin/Debug/vc142.pdb
/project/MarbleGP_Plugin/Debug/vcpkg.applocal.log
/project/MarbleGP_Plugin/x64/Debug/MarbleGP_Plugin.dll.recipe
/project/MarbleGP_Plugin/x64/Debug/MarbleGP_Plugin.log
/project/MarbleGP_Plugin/x64/Debug/MarbleGP_Plugin.pch
/project/MarbleGP_Plugin/x64/Debug/MarbleGP_Plugin.tlog/CL.command.1.tlog
/project/MarbleGP_Plugin/x64/Debug/MarbleGP_Plugin.tlog/CL.read.1.tlog
/project/MarbleGP_Plugin/x64/Debug/MarbleGP_Plugin.tlog/CL.write.1.tlog
/project/MarbleGP_Plugin/x64/Debug/MarbleGP_Plugin.tlog/MarbleGP_Plugin.lastbuildstate
/project/MarbleGP_Plugin/x64/Debug/MarbleGP_Plugin.tlog/link.command.1.tlog
/project/MarbleGP_Plugin/x64/Debug/MarbleGP_Plugin.tlog/link.read.1.tlog
/project/MarbleGP_Plugin/x64/Debug/MarbleGP_Plugin.tlog/link.write.1.tlog
/project/MarbleGP_Plugin/x64/Debug/dllmain.obj
/project/MarbleGP_Plugin/x64/Debug/pch.obj
/project/MarbleGP_Plugin/x64/Debug/vc142.idb
/project/MarbleGP_Plugin/x64/Debug/vc142.pdb
/project/MarbleGP_Plugin/x64/Debug/vcpkg.applocal.log
/project/MarbleGP/Release/CMessageHelpers.obj
/project/MarbleGP/Release/MarbleGP.log
/project/MarbleGP/Release/MarbleGP.tlog/CL.11204.write.1.tlog
/project/MarbleGP/Release/MarbleGP.tlog/CL.command.1.tlog
/project/MarbleGP/Release/MarbleGP.tlog/CL.read.1.tlog
/project/MarbleGP/Release/MarbleGP.tlog/MarbleGP.lastbuildstate
/project/MarbleGP/Release/MarbleGP.tlog/unsuccessfulbuild
/project/MarbleGP/Release/vc142.pdb
/project/MarbleGP_Plugin/x64
/project/MarbleGP_Plugin/.vs
/project/MarbleGP_Plugin/Debug
/*.dll
/project/libs/Irrlicht-1.9/lib/Win64-Debug/Irrlicht.lib
/project/libs/Irrlicht-1.9/lib/Win64-Release/Irrlicht.lib
/project/libs/irrlicht/lib/debug/Irrlicht.pdb
/project/libs/irrlicht/lib/debug/irrlicht.lib
/project/libs/irrlicht/lib/release/Irrlicht.lib
/project/libs/irrlicht/lib/release/Irrlicht.pdb
/project/LuaTest/x64
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/ipch/AutoPCH/175671e5b1bb6640/*.ipch
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/ipch/AutoPCH/53c4f1985abf2ab3/*.ipch
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/ipch/AutoPCH/6c1e8814b5ed17c1/*.ipch
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/ipch/AutoPCH/7b90741ee7630c44/*.ipch
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/ipch/AutoPCH/8d8363e6af7d6cdd/*.ipch
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/ipch/AutoPCH/a5308820b9005ff9/*.ipch
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/ipch/AutoPCH/c4db001d90e35057/*.ipch
/project/MarbleGP_Raspberry/.vs/MarbleGP_Raspberry/v16/ipch/AutoPCH/c9b54f352dcc0ec/*.ipch
/project/MarbleGP_Raspberry/.vs
/project/MarbleGP_Android/MarbleGP_Android/ARM64
/project/MarbleGP_Android/MarbleGP_Android/ARM
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.NativeActivity/ARM64
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.NativeActivity/ARM
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/res
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/ARM
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/ARM64
/project/MarbleGP_Android/MarbleGP_Android/.vs/MarbleGP_Android/v16/Browse.VC.db-shm
/project/MarbleGP_Android/MarbleGP_Android/.vs/MarbleGP_Android/v16/Browse.VC.db-wal
/project/MarbleGP_Android/MarbleGP_Android/.vs/MarbleGP_Android/v16/Browse.VC.opendb
/project/MarbleGP_Android/MarbleGP_Android/.vs/MarbleGP_Android/v16/Solution.VC.db
/project/MarbleGP_Android/MarbleGP_Android/.vs/MarbleGP_Android/v16/Solution.VC.db-shm
/project/MarbleGP_Android/MarbleGP_Android/.vs/MarbleGP_Android/v16/Solution.VC.db-wal
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libEGL.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libGLESv1_CM.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libGLESv2.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libGLESv3.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libOpenMAXAL.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libOpenSLES.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libaaudio.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libandroid.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libbrotlicommon.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libbrotlidec.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libbrotlienc.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libbz2.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libc.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libcamera2ndk.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libdl.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libfreetype.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libjnigraphics.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/liblog.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/liblua.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libm.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libmediandk.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libnativewindow.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libode.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libogg.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libopenal.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libstdc++.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libsync.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libvorbis.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libvorbisenc.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libvorbisfile.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libvulkan.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Android.Packaging/libs/arm64-v8a/libz.so
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Shared/Cube.c
/project/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android/MarbleGP_Android.Shared/Cube.h
/project/MarbleGP_Android/MarbleGP_Android/.vs
